* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: auto;
  max-width: 80dvw;
  height: auto;
  font-family: "Montserrat", sans-serif;
}
.container {
  height: 100%;
}

nav {
  height: 20dvh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.logo-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 5px;
}
.logo-navbar i {
  font-size: 4rem;
  color: #7b5244;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  color: #7b5244;
  font-size: 2rem;
}
.cart-logo {
  position: relative;
}
.cart-items-count {
  position: absolute;
  background-color: #7b5244;
  border: 2px solid #f7f3ef;
  font-size: 0.7rem;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -20px;
  bottom: 10px;
  padding: 12px;
}

.hero-section {
  height: 80dvh;
  width: 80dvw;
  position: relative;
  background-image: url(imgs/cover.jpg);
  background-size: cover;
}
.hero-content {
  position: absolute;
  color: #f7f3ef;
  right: 5px;
  bottom: 15px;

  text-align: center;
}
.hero-content h1 {
  font-size: 2.1rem;
  color: #ffffff;
}
.hero-btn {
  padding: 20px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  margin-bottom: 25px;
  margin-left: 10px;
  cursor: pointer;
}
.hero-btn2 {
  background-color: #7b5244;
  color: #f7f3ef;
}
.section-header {
  grid-column: 1/-1;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.under-line {
  width: 100px;
  height: 2px;
  background-color: #7b5244;
  transition: width 0.5s ease-in;
}
.section-header:hover .under-line {
  width: 200px;
}
.header-products:hover .under-line {
  width: 200px;
}
.special {
  height: 400px;
  display: grid;
  margin: 30px 0;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  grid-gap: 10px;
}

.spec-category img {
  width: 100%;
  height: 70%;
  border-radius: 10px;
}

.products {
  perspective: 100px;
}

.footer {
  height: 20dvh;

  background-color: #7b5244;
  text-align: center;
  color: #f7f3ef;
  border-radius: 10px;
}
.footer-icons {
  padding: 20px;
}
.footer-icons a {
  color: #f7f3ef;
  font-size: 40px;
  padding: 10px;
}
.footer-icons a:hover {
  color: #b37d6b;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  nav {
    height: 40dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .small-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7b5244;
    font-size: 3rem;
    cursor: pointer;
  }
  .main-nav {
    display: none;
  }
  .special {
    height: auto;
    display: grid;
    margin: 30px 0;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr;
    text-align: center;
    grid-gap: 10px;
  }
  .hero-content {
    visibility: hidden;
  }
  .special {
    height: auto;
    display: grid;
    margin: 30px 0;
    grid-template-rows: 1fr 4fr;
    /* grid-template-columns: repeat(2, 1fr); */
    text-align: center;
    grid-gap: 10px;
  }
  .offer {
    height: auto;

    display: grid;

    margin: 30px 0;
    grid-template-columns: 1fr 1fr 1fr;

    grid-column-gap: 10px;
  }
  .offer-img img {
    width: 40dvw;
    height: auto;
  }
  .summary {
    border: 2px solid;
    border-image: linear-gradient(to bottom, white 0%, black 50%, white 100%);
    border-image-slice: 1;
    grid-column: 1/-1;
    padding: 30px;
    background-color: #f7f3ef;
  }
  .summary-header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 2fr 1fr;
  }
  .summary i {
    color: #7b5244;
    font-size: 4rem;
    grid-row: 1/-1;
  }
  .logos {
    height: auto;
    margin-top: 30px;
  }
  .logo {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .icon-div {
    height: 30px;
    width: 50px;
    font-size: 2.5rem;
  }
  .light-icon {
    position: absolute;
    top: 10px;
    color: lightgray;
    transition: all 0.7s;
    opacity: 1;
    z-index: 1;
  }
  .dark-icon {
    position: absolute;
    bottom: 50px;
    z-index: -10;
    color: #7b5244;
    opacity: 0;
    visibility: hidden;
    transition: all 0.7s;
  }
  .logo:hover .light-icon {
    top: -50px;
    visibility: hidden;
    opacity: 0;
  }

  .logo:hover .dark-icon {
    bottom: 100px;
    opacity: 1;
    visibility: visible;
  }
  .logo:first-child {
    border: none;
  }

  .spec-category p,
  .logo p {
    color: rgb(150, 150, 150);
  }
  .header-products {
    padding: 50px 0;
    text-align: center;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .products-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
  }

  .card-products {
    display: grid;
    margin-bottom: 40px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);

    grid-gap: 15px;
  }
  .card-product {
    height: fit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    perspective: 1000px;
    position: relative;
  }
  .book-cover {
    width: 100%;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: all 2s ease-out;
    z-index: 10;
  }
  .book-page {
    position: absolute;
    width: 100%;
    height: 80%;
    background-image: url("imgs/books/french-page2.jpg");
    background-size: cover;
    visibility: hidden;
    opacity: 0;
    transition: all 2s ease-out;
  }
  .book-cover:hover {
    transform: rotateY(-100deg);
  }
  .card-product:hover .book-page {
    opacity: 1;
    visibility: visible;
    transition: all 3s ease-out;
  }
  .card-product i {
    color: gold;
  }
  .card-product img {
    width: 100%;
    height: 370px;
    border-radius: 10px;
  }
  .product-desc {
    text-align: center;
    padding-top: 10px;
  }
  .footer-icons a {
    font-size: 20px;
    padding: 3px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .small-menu {
    display: none;
  }
  .main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
    list-style: none;
    font-weight: bold;
    font-size: 0.7rem;
    color: #7b5244;
  }
  .main-nav a {
    text-decoration: none;
    color: #7b5244;
    position: relative;

    padding: 10px 4px 10px 4px;
  }
  .main-nav a span:nth-child(1) {
    position: absolute;
    background-color: #7b5244;
    height: 2px;
    width: 0;
    top: 0;
    left: 0;
    transition: width 1s ease;
  }
  .main-nav a span:nth-child(2) {
    position: absolute;
    background-color: #7b5244;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    transition: width 1s ease;
  }
  .main-nav a span:nth-child(3) {
    position: absolute;
    background-color: #7b5244;
    height: 0;
    width: 2px;
    bottom: 0;
    left: 0;
    transition: height 0.5s ease;
  }
  .main-nav a span:nth-child(4) {
    position: absolute;
    background-color: #7b5244;
    height: 0;
    width: 2px;
    bottom: 0;
    right: 0;
    transition: height 0.5s ease;
  }
  .main-nav a:hover span:nth-child(1) {
    width: 100%;
  }
  .main-nav a:hover span:nth-child(2) {
    width: 100%;
  }
  .main-nav a:hover span:nth-child(3) {
    height: 100%;
  }
  .main-nav a:hover span:nth-child(4) {
    height: 100%;
  }

  .books-link .books-menu {
    position: absolute;
    width: 0px;
    height: 0px;
    z-index: 10;
    border: 2px solid #7b5244;
    top: 40px;
    left: -2px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    background-color: #b37d6b;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
  }
  .books-menu img {
    margin-left: 40px;
    width: auto;
    height: 80px;
  }
  .books-link:hover .books-menu {
    opacity: 1;
    visibility: visible;

    width: 400px;
    height: 200px;
  }
  .special {
    height: 800px;
    display: grid;
    margin: 30px 0;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    grid-gap: 10px;
  }

  nav {
    height: 40dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .logos {
    height: auto;
    display: grid;
    margin-top: 30px;

    grid-template-columns: repeat(2, 1fr);
  }
  .logo {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-left: 2px solid #7b5244;
  }

  .icon-div {
    height: 30px;
    width: 50px;
    font-size: 2.5rem;
  }
  .light-icon {
    position: absolute;
    top: 10px;
    color: lightgray;
    transition: all 0.7s;
    opacity: 1;
    z-index: 1;
  }
  .dark-icon {
    position: absolute;
    bottom: 50px;
    z-index: -10;
    color: #7b5244;
    opacity: 0;
    visibility: hidden;
    transition: all 0.7s;
  }
  .logo:hover .light-icon {
    top: -50px;
    visibility: hidden;
    opacity: 0;
  }

  .logo:hover .dark-icon {
    bottom: 100px;
    opacity: 1;
    visibility: visible;
  }
  .logo:first-child {
    border: none;
  }

  .spec-category p,
  .logo p {
    color: rgb(150, 150, 150);
  }
  .offer {
    height: auto;

    display: grid;

    margin: 30px 0;
    grid-template-columns: 1fr 1fr 1fr;

    grid-column-gap: 10px;
  }
  .offer-img img {
    width: 40dvw;
    height: auto;
  }
  .summary {
    border: 2px solid;
    border-image: linear-gradient(to bottom, white 0%, black 50%, white 100%);
    border-image-slice: 1;
    grid-column: 1/-1;
    padding: 30px;
    background-color: #f7f3ef;
  }
  .summary-header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 2fr 1fr;
  }
  .summary i {
    color: #7b5244;
    font-size: 4rem;
    grid-row: 1/-1;
  }
  .header-products {
    padding: 50px 0;
    text-align: center;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .products-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
  }

  .card-products {
    display: grid;
    margin-bottom: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    grid-gap: 15px;
  }
  .card-product {
    height: fit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    border-radius: 10px;
    perspective: 1000px;
    position: relative;
  }
  .book-cover {
    width: 100%;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: all 2s ease-out;
    z-index: 10;
  }
  .book-page {
    position: absolute;
    width: 100%;
    height: 80%;
    background-image: url("imgs/books/french-page2.jpg");
    background-size: cover;
    visibility: hidden;
    opacity: 0;
    transition: all 2s ease-out;
  }
  .book-cover:hover {
    transform: rotateY(-100deg);
  }
  .card-product:hover .book-page {
    opacity: 1;
    visibility: visible;
    transition: all 3s ease-out;
  }
  .card-product i {
    color: gold;
  }
  .card-product img {
    width: 100%;
    height: 370px;
    border-radius: 10px;
  }
  .product-desc {
    text-align: center;
    padding-top: 10px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-transform: uppercase;
    list-style: none;
    font-weight: bold;
    font-size: 1rem;
    color: #7b5244;
  }
  .card-products {
    display: grid;
    margin-bottom: 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    grid-gap: 15px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .special {
    height: 400px;
    display: grid;
    margin: 30px 0;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    grid-gap: 10px;
  }
  .logos {
    height: 150px;
    display: grid;
    margin-top: 30px;

    grid-template-columns: repeat(5, 1fr);
  }
  .offer {
    height: 300px;
    display: grid;
    margin: 30px 0;

    grid-template-columns: 55% 20% 20%;
    grid-column-gap: 10px;
  }

  .summary {
    border: 2px solid;
    border-image: linear-gradient(to bottom, white 0%, black 50%, white 100%);
    border-image-slice: 1;
    grid-column: 1/2;
    padding: 30px;
    background-color: #f7f3ef;
  }
  .summary-header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 2fr 1fr;
  }
  .summary i {
    color: #7b5244;
    font-size: 4rem;
    grid-row: 1/-1;
  }
  .offer-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
  .offer-img1:hover {
    height: 105%;
    width: 105%;
  }
  .offer-img2:hover {
    height: 105%;
    width: 105%;
  }
  .book-page {
    width: 70%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  nav {
    height: 20dvh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
}
